.mains {
	margin: 1rem 4rem;
	padding: 1rem 2rem;
	border: 1px solid rgb(219, 216, 216);
}

.foot p {
	opacity: 0.5;
}
h2 {
	color: rgb(25, 221, 221);
	text-decoration: underline;
}

.right-pic {
	padding: 2rem;
	margin: 1rem;
	max-height: 35rem;
	min-width: 40rem;
}
