.container {
	margin: 1rem 2rem;
	padding: 1rem;
	border: 1px solid rgb(219, 216, 216);
}
h2 {
	color: rgb(47, 226, 226);
}
.right-pic {
	padding: 2rem;
	margin: 1rem;
	min-height: auto;
	min-width: 40rem;
}
